<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rimetranslate.helper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/rime-translate-helper</string>
        <string>--port</string>
        <string>61899</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/tmp/rime-translate-helper.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/rime-translate-helper.log</string>
</dict>
</plist>
